# Time Series - ML Prediction

Using the dataset obtained from the Kaggle competition: https://www.kaggle.com/competitions/nuclio-dsc-str-1124

In this competition we will apply all the theoretical knowledge of Time Series and practice pandas and XGBoost with over 400 Time Series.

## 1. Initialization

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('./ts_kaggle_train.csv', index_col = 0)

In [6]:
df.head()

,date,unique_id,city_id,shop_id,item_category_id,item_id,monthly_average_price,monthly_sales
0,2013-01-31,12_11365,16,12,9,11365,1511.512626,30.0
1,2013-01-31,12_11369,16,12,9,11369,572.715278,30.0
2,2013-01-31,12_11370,16,12,9,11370,699.776786,30.0
3,2013-01-31,12_11373,16,12,9,11373,548.900000,6.0
4,2013-01-31,12_12231,16,12,49,12231,350.000000,3.0

In [7]:
df.shape

(14484, 8)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14484 entries, 0 to 14483
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   14484 non-null  object
 1   unique_id              14484 non-null  object
 2   city_id                14484 non-null  int64
 3   shop_id                14484 non-null  int64
 4   item_category_id       14484 non-null  int64
 5   item_id                14484 non-null  int64
 6   monthly_average_price  13262 non-null  float64
 7   monthly_sales          13756 non-null  float64
dtypes: float64(2), int64(4), object(2)
memory usage: 1018.4+ KB